<div class="grid-row">
  <div class="grid-col-12 usa-prose">
    <h1>Community Engagement Requirements</h1>
    
    <div class="usa-prose">
      <h3>Requirements Overview</h3>
      <p>
        To meet the Community Engagement Requirements, you must demonstrate either a certain amount of income or hours spent on qualifying activities. 
        Please answer the following questions to help determine which requirements apply to your situation.
      </p>
    </div>
    
    <%= form_with model: @engagement_form, url: engagement_form_questions_path(@engagement_form), method: :post, local: true, class: "usa-form usa-form--large", builder: UswdsFormBuilder do |form| %>
      <%= hidden_field_tag :from_review, params[:from_review] if params[:from_review] %>
      
      <fieldset class="usa-fieldset">
        <legend class="usa-legend--large">Check any of these that apply:</legend>
        
        <%= form.check_box :has_job, "I have a job", nil, {}, "yes", "no" %>
        <%= form.check_box :is_student, "I am a student", nil, {}, "yes", "no" %>
        <%= form.check_box :enrolled_work_program, "I am enrolled in a work program", nil, {}, "yes", "no" %>
        <%= form.check_box :volunteers_nonprofit, "I volunteer with a nonprofit organization", nil, {}, "yes", "no" %>
      </fieldset>
      
      <div class="usa-form-group">
        <%= form.submit "Continue", class: "usa-button" %>
      </div>
    <% end %>
  </div>
</div>
