<div class="grid-row">
  <div class="grid-col-12">
    <h1>Tell us about your volunteering</h1>
    
    <p>
      Add all the time you spent volunteering in <strong><%= @engagement_form.prior_month_name %></strong>.  If you volunteered on more than one day, add each day separately.
    </p>

    <% if @volunteer_shifts.any? %>
      <div class="usa-table-container--scrollable" tabindex="0">
        <table class="usa-table">
          <caption>Your Volunteer Hours</caption>
          <thead>
            <tr>
              <th scope="col">Organization</th>
              <th scope="col">Date</th>
              <th scope="col">Hours</th>
            </tr>
          </thead>
          <tbody>
            <% @volunteer_shifts.ordered_by_date.each do |shift| %>
              <tr>
                <td><%= shift.organization_name %></td>
                <td><%= shift.shift_date.strftime("%B %d, %Y") %></td>
                <td><%= shift.hours %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="usa-alert usa-alert--info usa-alert--slim" role="alert">
        <div class="usa-alert__body">
          <p class="usa-alert__text">No volunteer hours have been added yet. Click "Add Volunteer Hours" to get started.</p>
        </div>
      </div>
    <% end %>

    <div class="usa-form-group">
      <%= link_to "Add Volunteer Hours", new_volunteer_shift_path, class: "usa-button usa-button--outline" %>
    </div>

    <div class="usa-form-group">
      <%= form_with url: volunteers_path, method: :post, local: true, class: "usa-form usa-form--large" do |form| %>
        <%= hidden_field_tag :from_review, params[:from_review] if params[:from_review] %>
        <%= form.submit "Continue", class: "usa-button" %>
      <% end %>
    </div>
  </div>
</div>
