<%= form_with model: @engagement_form, local: true, class: "usa-form usa-form--large", builder: UswdsFormBuilder do |form| %>
  <% if @engagement_form.errors.any? %>
    <div class="usa-alert usa-alert--error" role="alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Please correct the following errors:</h3>
        <ul class="usa-alert__text">
          <% @engagement_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <fieldset class="usa-fieldset">
    <legend class="usa-legend--large">Basic Information</legend>
    
    <%= form.text_field :user_name, "Full Name", nil, required: true %>
    
    <%= form.email_field :email, "Email Address", nil, required: true %>
    
    <%= form.date_field :application_date, "Application Date", "Select the date you are submitting this application. Information will be collected for the month prior to this date.", required: true %>
  </fieldset>
  
  <div class="usa-form-group">
    <% if @engagement_form.persisted? %>
      <%= form.submit "Update Information", class: "usa-button" %>
      <%= link_to "Cancel", review_summary_path(@engagement_form), class: "usa-button usa-button--outline" %>
    <% else %>
      <%= form.submit "Continue to Questions", class: "usa-button" %>
    <% end %>
  </div>
<% end %>
