<div class="grid-row">
  <div class="grid-col-12 usa-prose">
    <h1>Community Engagement Requirements</h1>
    
    <div class="usa-alert usa-alert--info" role="alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Requirements Overview</h3>
        <p class="usa-alert__text">
          To meet the Community Engagement Requirements, you must demonstrate either a certain amount of income or hours spent on qualifying activities. 
          Please select all that apply to your situation.
        </p>
      </div>
    </div>
    
    <%= form_with model: @engagement_form, url: update_engagement_types_engagement_form_path(@engagement_form), method: :patch, local: true, class: "usa-form" do |form| %>
      <% if @engagement_form.errors.any? %>
        <div class="usa-alert usa-alert--error" role="alert">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Please correct the following errors:</h3>
            <ul class="usa-alert__text">
              <% @engagement_form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      
      <fieldset class="usa-fieldset">
        <legend class="usa-legend">Select all that apply:</legend>
        
        <div class="usa-checkbox">
          <%= form.check_box :has_job, class: "usa-checkbox__input" %>
          <%= form.label :has_job, "I have a job", class: "usa-checkbox__label" %>
        </div>
        
        <div class="usa-checkbox">
          <%= form.check_box :is_student, class: "usa-checkbox__input" %>
          <%= form.label :is_student, "I am a student", class: "usa-checkbox__label" %>
        </div>
        
        <div class="usa-checkbox">
          <%= form.check_box :enrolled_work_program, class: "usa-checkbox__input" %>
          <%= form.label :enrolled_work_program, "I am enrolled in a work program", class: "usa-checkbox__label" %>
        </div>
        
        <div class="usa-checkbox">
          <%= form.check_box :volunteers_nonprofit, class: "usa-checkbox__input" %>
          <%= form.label :volunteers_nonprofit, "I volunteer with a nonprofit organization", class: "usa-checkbox__label" %>
        </div>
      </fieldset>
      
      <div class="usa-form-group">
        <%= form.submit "Continue to Details", class: "usa-button" %>
        <%= link_to "Back", new_engagement_form_path, class: "usa-button usa-button--outline" %>
      </div>
    <% end %>
  </div>
</div>
