<div class="grid-row">
  <div class="grid-col-12 usa-prose">
    <h1>Tell us about your job</h1>
    
    <p>
      We need to know how much you made from working in <strong><%= @engagement_form.prior_month_name %></strong>.
    </p>
    <p>
      Click the "Add Paycheck" button to provide details for every paystub you received during that month.
    </p>

    <% if @engagement_form.job_paychecks.any? %>
      <div class="usa-table-container--scrollable">
        <table class="usa-table">
          <caption>Your Paychecks</caption>
          <thead>
            <tr>
              <th scope="col">Pay Date</th>
              <th scope="col">Gross Pay</th>
              <th scope="col">Hours</th>
            </tr>
          </thead>
          <tbody>
            <% @engagement_form.job_paychecks.ordered_by_date.each do |paycheck| %>
              <tr>
                <td><%= paycheck.pay_date.strftime("%B %d, %Y") %></td>
                <td>$<%= number_with_precision(paycheck.gross_pay_amount, precision: 2) %></td>
                <td><%= paycheck.hours_worked %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="usa-alert usa-alert--info" role="alert">
        <div class="usa-alert__body">
          <p class="usa-alert__text">No paychecks have been added yet. Click "Add Paycheck" to get started.</p>
        </div>
      </div>
    <% end %>

    <div class="usa-form-group">
      <%= link_to new_engagement_form_job_paycheck_path(@engagement_form), class: "usa-button usa-button--outline" do %>
        Add Paycheck
      <% end %>
    </div>

    <div class="usa-form-group">
      <%= form_with url: engagement_form_jobs_path(@engagement_form), method: :post, local: true, class: "usa-form usa-form--large" do |form| %>
        <%= hidden_field_tag :from_review, params[:from_review] if params[:from_review] %>
        <%= form.submit "Continue", class: "usa-button" %>
      <% end %>
    </div>
  </div>
</div>
