<div class="grid-row">
  <div class="grid-col-12 usa-prose">
    <h1>Employment Details</h1>
    
    <p class="usa-intro">
      Please add all the paychecks you received in <%= @engagement_form.prior_month_name %> to help verify that you meet the Community Engagement Requirements.
    </p>

    <% if @engagement_form.job_paychecks.any? %>
      <div class="usa-table-container--scrollable" tabindex="0">
        <table class="usa-table">
          <caption>Your Paychecks</caption>
          <thead>
            <tr>
              <th scope="col">Pay Date</th>
              <th scope="col">Gross Pay</th>
              <th scope="col">Hours</th>
            </tr>
          </thead>
          <tbody>
            <% @engagement_form.job_paychecks.ordered_by_date.each do |paycheck| %>
              <tr>
                <td><%= paycheck.pay_date.strftime("%B %d, %Y") %></td>
                <td>$<%= number_with_precision(paycheck.gross_pay_amount, precision: 2) %></td>
                <td><%= paycheck.hours_worked %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="usa-summary-box">
        <div class="usa-summary-box__body">
          <h3 class="usa-summary-box__heading">
            Total Employment Summary
          </h3>
          <div class="usa-summary-box__text">
            <p class="font-sans-3xl"><%= @engagement_form.job_paychecks.sum(&:hours_worked) %> hours</p>
            <p class="font-sans-3xl">$<%= number_with_precision(@engagement_form.job_paychecks.sum(&:gross_pay_amount), precision: 2) %> total gross pay</p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="usa-alert usa-alert--info" role="alert">
        <div class="usa-alert__body">
          <p class="usa-alert__text">No paychecks have been added yet. Click "Add Paycheck" to get started.</p>
        </div>
      </div>
    <% end %>

    <div class="usa-form-group">
      <%= link_to "Add Paycheck", new_engagement_form_job_paycheck_path(@engagement_form), class: "usa-button" %>
    </div>

    <div class="usa-form-group">
      <%= form_with url: engagement_form_jobs_path(@engagement_form), method: :post, local: true do |form| %>
        <%= form.submit "Continue", class: "usa-button" %>
        <%= link_to "Back", new_engagement_form_question_path(@engagement_form), class: "usa-button usa-button--outline" %>
      <% end %>
    </div>
  </div>
</div>
