<div class="grid-row">
  <div class="grid-col-12">
    <h1>Tell us about the work program you attended</h1>
    
    <% if @engagement_form.errors.any? %>
      <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Please correct the following errors:</h4>
          <ul class="usa-alert__text">
            <% @engagement_form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    
    <%= form_with model: @engagement_form, url: work_programs_path, method: :post, local: true, class: "usa-form usa-form--large", builder: UswdsFormBuilder do |form| %>
      <%= hidden_field_tag :from_review, params[:from_review] if params[:from_review] %>
      
      <fieldset class="usa-fieldset">
        <legend>Please provide details about the work program you participated in during <strong><%= @engagement_form.prior_month_name %></strong>.</legend>
        
        <%= form.text_field :work_program_name, "Work Program Name", "Enter the name of the work program." %>
        
        <%= form.number_field :hours_attended, "Hours Attended", "Enter the total number of hours you spent in this work program during #{@engagement_form.prior_month_name}.", step: "0.01", min: "0" %>
      </fieldset>
      
      <div class="usa-form-group">
        <%= form.submit "Continue", class: "usa-button" %>
      </div>
    <% end %>
  </div>
</div>
